html {
  background-color: #282c34;
  font-size: 62.5%;
}

body {
  width: 90%;
  margin: 0 auto 0 auto;
  padding-top: 1%;
}

ul {
  padding: 0;
  list-style-type: none;
}

.navbar {
  width: 100%;
  min-height: 20vh;
  display: flex;
  align-items: center;
  font-size: 2.4rem;
}

.logo {
  height: 17vmin;
  pointer-events: none;
  user-select: none;
}

.logo-container {
  width: 30%;
  display: flex;
}

.sections-container {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sections {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 16rem;
}

.section {
  display: flex;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

.ultimo-lanzamiento {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 5rem;
}

.ultimo-lanzamiento-title {
  width: 70rem;
  line-height: 100%;
}

.video-player {
  display: flex;
  /* justify-content: space-between; */
  width: 100%;
}

.video {
  width: 50%;
  display: flex;
  justify-content: flex-start;
  /* padding: 2%; */
}

.video-list {
  width: 50%;
  border: solid 1px;
  border-radius: 10%;
  border-color: white;
  display: flex;
  flex-direction: column;
  font-size: 2rem;
  color: white;
}

.video-list-row {
  display: flex;
  align-items: center;
  padding: 2% 2%;
}

.video-list-row:hover {
  background-color: black;
  border-radius: 10px;
  cursor: pointer;
}

.video-list-number {
  width: 10%;
}

.video-list-item {
  width: 70%;
}

.video-list-duration {
  width: 20%;
}

.social-media-icon {
  background-color: red;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 100px;
}