html {
  background-color: #282c34;
  font-size: 62.5%;
}

body {
  width: 90%;
  margin: 0 auto 0 auto;
  padding-top: 1%;
}

.navbar {
  width: 100%;
  min-height: 20vh;
  display: flex;
  align-items: center;
  font-size: 2.4rem;
}

.logo {
  height: 17vmin;
  pointer-events: none;
  user-select: none;
}

.logo-container {
  width: 30%;
  display: flex;
}

.sections-container {
  width: 70%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.sections {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  gap: 16rem;
}

.section {
  display: flex;
}

.bebas-neue-regular {
  font-family: "Bebas Neue", sans-serif;
  font-weight: 400;
  font-style: normal;
  color: white;
}

ul {
  padding: 0%
}

.ultimo-lanzamiento {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-size: 5rem;
}

.ultimo-lanzamiento-title {
  width: 70rem;
  line-height: 100%;
}

.video {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 2%;
}